@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=B612:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800&display=swap");
:root {
  --rojo: #e50914;
  --fondo: #141414;
  --gris: #c4c4c4;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: borde-box;
          box-sizing: borde-box;
}

body {
  background: var(--fondo);
  font-family: Roboto, sans-serif;
}

.fondo {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/Portada.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(../img/Portada.jpg);
  background-position: center center;
  background-size: cover;
}

.contenedor {
  width: 90%;
  margin: auto;
}

header {
  padding: 20px 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, rgba(0, 0, 0, 0.9)), color-stop(30%, rgba(0, 0, 0, 0.7)), color-stop(80%, rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 5%, rgba(0, 0, 0, 0.7) 30%, rgba(0, 0, 0, 0.2) 80%, rgba(0, 0, 0, 0) 100%);
}

header .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logotipo {
  max-height: 12%;
  max-width: 12%;
}

header nav a {
  color: #aaa;
  text-decoration: none;
  margin-right: 20px;
}

header nav a:hover {
  color: #ffff;
}

header nav a.active {
  color: #ffff;
}

.película-principal {
  font-size: 16px;
  min-height: 40.62em;
  color: #fff;
  margin-bottom: 3.12em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.película-principal .contenedor {
  margin: 0 auto;
  margin-bottom: 6.5em;
}

.película-principal .título {
  font-weight: 700;
  font-size: 3.12em;
  margin-bottom: 0.4em;
}

.película-principal .descripción {
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.75em;
  max-width: 50%;
  margin-bottom: 1.25em;
}

.película-principal .boton {
  border: none;
  border-radius: 0.31em;
  padding: 0.93em 1.57em;
  margin-right: 1.25em;
  cursor: pointer;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  font-size: 1.2em;
}

.película-principal .boton i {
  margin-right: 1.23em;
}

.película-principal .boton-play {
  background-color: #ffff;
  color: #000;
}

.película-principal .boton-info {
  background-color: rgba(196, 196, 196, 0.6);
  color: #ffff;
}

.película-principal .boton-info:hover {
  background-color: rgba(160, 160, 160, 0.637);
}

.película-principal .boton-play:hover {
  background-color: rgba(255, 255, 255, 0.788);
}

/* Contendor: Título y controles */
.contenedor-título-controles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.contenedor-título-controles h3 {
  color: #ffff;
  font-size: 30px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

.contenedor-título-controles .indicadores .botoncito {
  background: #ffff;
  height: 3px;
  width: 12px;
  cursor: pointer;
  border: none;
  margin-right: 2px;
}

.contenedor-título-controles .indicadores .botoncito:hover,
.contenedor-título-controles .indicadores .activo {
  background: red;
}

/* Contendor: Principal y flechas */
.películas-recomendadas {
  margin-bottom: 50px;
}

.películas-recomendadas .contenedor-carousel {
  width: 100%;
  padding: 20px 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.películas-recomendadas .contenedor-carousel .carousel {
  scroll-behavior: smooth;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  overflow-x: visible;
}

.películas-recomendadas .contenedor-carousel .carousel .pelicula {
  min-width: 20%;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.películas-recomendadas .contenedor-carousel .carousel .pelicula img {
  width: 100%;
  vertical-align: top;
}

.películas-recomendadas .contenedor-carousel .carousel .pelicula:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.películas-recomendadas .contenedor-principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.películas-recomendadas .contenedor-principal .flecha-derecha,
.películas-recomendadas .contenedor-principal .flecha-izquierda {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  border: none;
  background: rgba(0, 0, 0, 0.1);
  font-size: 40px;
  height: 50%;
  top: calc(50% - 25%);
  line-height: 30px;
  width: 40px;
  color: #fff;
  cursor: pointer;
  z-index: 500;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.películas-recomendadas .contenedor-principal .flecha-derecha:hover,
.películas-recomendadas .contenedor-principal .flecha-izquierda:hover {
  background: rgba(0, 0, 0, 0.5);
}

.películas-recomendadas .contenedor-principal .flecha-izquierda {
  left: 0;
}

.películas-recomendadas .contenedor-principal .flecha-izquierda i {
  margin-top: 35px;
  margin-left: 10px;
}

.películas-recomendadas .contenedor-principal .flecha-derecha {
  right: 0;
}

.películas-recomendadas .contenedor-principal .flecha-derecha i {
  margin-top: 35px;
  margin-left: 15px;
}

footer {
  padding-bottom: 20px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  font-family: Inter;
  font-weight: 700;
  color: #ffff;
  text-decoration: none;
}

footer a:hover,
footer a:active {
  color: #ffff;
  text-decoration: none;
}

footer a:link,
footer a:visited {
  color: #7494fd;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  header .logotipo {
    margin-bottom: 10px;
    font-size: 30px;
  }
  header .contenedor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .película-principal {
    font-size: 14px;
  }
  .película-principal .descripción {
    max-width: 100%;
  }
}
/*# sourceMappingURL=index.css.map */