@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=B612:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800&display=swap");
:root {
  --rojo: #e50914;
  --fondo: #141414;
  --gris: #c4c4c4;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: borde-box;
          box-sizing: borde-box;
}

body {
  background: var(--fondo);
  font-family: Roboto, sans-serif;
}

.fondo {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.85))), url(../img/Portada.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.85) 100%), url(../img/Portada.jpg);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.contenedor {
  width: 90%;
  margin: auto;
}

.github-corner:hover .octo-arm {
  -webkit-animation: octocat-wave 560ms ease-in-out;
          animation: octocat-wave 560ms ease-in-out;
}

@-webkit-keyframes octocat-wave {
  0%,
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  20%,
  60% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  40%,
  80% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes octocat-wave {
  0%,
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  20%,
  60% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  40%,
  80% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    -webkit-animation: none;
            animation: none;
  }
  .github-corner .octo-arm {
    -webkit-animation: octocat-wave 560ms ease-in-out;
            animation: octocat-wave 560ms ease-in-out;
  }
}

header {
  padding: 20px 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, rgba(0, 0, 0, 0.9)), color-stop(30%, rgba(0, 0, 0, 0.7)), color-stop(80%, rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 5%, rgba(0, 0, 0, 0.7) 30%, rgba(0, 0, 0, 0.2) 80%, rgba(0, 0, 0, 0) 100%);
}

header .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

header .logotipo {
  max-height: 12%;
  max-width: 12%;
}

header nav a {
  color: #aaa;
  text-decoration: none;
  margin-right: 20px;
}

header nav a:hover {
  color: #ffff;
}

header nav a.active {
  color: #ffff;
}

.película-principal {
  font-size: 16px;
  margin-top: 2em;
  min-height: 40.62em;
  color: #fff;
  margin-bottom: 3.12em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.película-principal .contenedor {
  margin: 0 auto;
  margin-bottom: 6.5em;
}

.película-principal .serieNetflix {
  max-height: 70%;
  max-width: 70%;
}

.película-principal .título {
  font-weight: 700;
  font-size: 3.52em;
  margin-bottom: -0.1em;
}

.película-principal .dropdown {
  float: left;
  overflow: hidden;
  margin-top: 20px;
  background-color: #000000;
  color: white;
  border: 2px solid #ffff;
}

.película-principal .dropdown .dropbtn {
  cursor: pointer;
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  background-color: #000000;
  padding: 14px 16px;
  font-family: Roboto;
  font-weight: 500;
}

.película-principal .navbar a:hover,
.película-principal .dropdown:hover .dropbtn,
.película-principal .dropbtn:focus {
  background-color: #111111;
}

.película-principal .dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000d5;
  color: #e2e2e2;
  min-width: 150px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.película-principal .dropdown-content a {
  float: none;
  color: #d4d4d4;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.película-principal .dropdown-content a:hover {
  color: #ffff;
}

.película-principal .show {
  display: block;
}

.película-principal .contenedor-episodios {
  width: 100%;
  padding: 20px 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.película-principal .contenedor-episodios .episodios {
  scroll-behavior: smooth;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  overflow-x: visible;
}

.película-principal .contenedor-episodios .episodios .episodio {
  margin-left: 20px;
  min-width: 15%;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.película-principal .contenedor-episodios .episodios .episodio img {
  width: 300px;
  height: 145px;
  vertical-align: top;
}

.película-principal .contenedor-episodios .episodios .episodio .titulo-tiempo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.película-principal .contenedor-episodios .episodios .episodio .titulo-tiempo h4 {
  right: 0;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 700;
  color: #808080;
}

.película-principal .contenedor-episodios .episodios .episodio .titulo-tiempo span {
  left: 0;
  font-size: 19px;
  font-family: Roboto;
  font-weight: 700;
  color: #8a8a8a;
}

.película-principal .contenedor-episodios .episodios .episodio p {
  margin: 5px 0;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  color: #9999;
}

.navbarabajo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  margin-top: -2em;
  padding-bottom: 0.28em;
  margin-bottom: 1em;
}

.navbarabajo .info {
  color: #fff;
  border-bottom: 6px solid #e50914;
}

.navbarabajo a {
  color: #ccc;
  text-decoration: none;
  padding-right: 2em;
}

.navbarabajo a:hover {
  color: #fff;
}

/* Contendor: Título y controles */
.contenedor-título-controles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.contenedor-título-controles h3 {
  color: #ffff;
  font-size: 30px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

.contenedor-título-controles .indicadores .botoncito {
  background: #ffff;
  height: 3px;
  width: 12px;
  cursor: pointer;
  border: none;
  margin-right: 2px;
}

.contenedor-título-controles .indicadores .botoncito:hover,
.contenedor-título-controles .indicadores .activo {
  background: red;
}

/* Contendor: Principal y flechas */
.películas-recomendadas {
  margin-bottom: 50px;
}

.películas-recomendadas .contenedor-carousel {
  width: 100%;
  padding: 20px 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.películas-recomendadas .contenedor-carousel .carousel {
  scroll-behavior: smooth;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  overflow-x: visible;
}

.películas-recomendadas .contenedor-carousel .carousel .pelicula {
  min-width: 20%;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.películas-recomendadas .contenedor-carousel .carousel .pelicula img {
  width: 100%;
  vertical-align: top;
}

.películas-recomendadas .contenedor-carousel .carousel .pelicula:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.películas-recomendadas .contenedor-principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.películas-recomendadas .contenedor-principal .flecha-derecha,
.películas-recomendadas .contenedor-principal .flecha-izquierda {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  border: none;
  background: rgba(0, 0, 0, 0.1);
  font-size: 40px;
  height: 50%;
  top: calc(50% - 25%);
  line-height: 30px;
  width: 40px;
  color: #fff;
  cursor: pointer;
  z-index: 500;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.películas-recomendadas .contenedor-principal .flecha-derecha:hover,
.películas-recomendadas .contenedor-principal .flecha-izquierda:hover {
  background: rgba(0, 0, 0, 0.5);
}

.películas-recomendadas .contenedor-principal .flecha-izquierda {
  left: 0;
}

.películas-recomendadas .contenedor-principal .flecha-izquierda i {
  margin-top: 35px;
  margin-left: 10px;
}

.películas-recomendadas .contenedor-principal .flecha-derecha {
  right: 0;
}

.películas-recomendadas .contenedor-principal .flecha-derecha i {
  margin-top: 35px;
  margin-left: 15px;
}

footer {
  padding-top: 0.7em;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  font-family: Inter;
  font-weight: 700;
  color: #ffff;
  text-decoration: none;
}

footer a:hover,
footer a:active {
  color: #ffff;
  text-decoration: none;
}

footer a:link,
footer a:visited {
  color: #7494fd;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  header .logotipo {
    margin-bottom: 10px;
    font-size: 30px;
  }
  header .contenedor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .película-principal {
    font-size: 14px;
  }
  .película-principal .descripción {
    max-width: 100%;
  }
}
/*# sourceMappingURL=t1.css.map */